{%   extends "Card_Game/header.html" %}
{% load staticfiles %}

{% block content %}
<form method="get">
    <input type="text" id="mytextbox" name="mytextbox" value="">
    <input type="submit" class="btn" value="Click" name="print_btn">
</form>
<p> A :</p>
{% for c in A %}
    <img src='{% static "PNG/" %}{{c}}' height="200px" width="120px"/>
{% endfor %}

<p> B :</p>
{% for c in B %}
    <img src='{% static "PNG/" %}{{c}}' height="200px" width="120px"/>
{% endfor %}

<p> C :</p>
{% for c in C %}
    <img src='{% static "PNG/" %}{{c}}' height="200px" width="120px"/>
{% endfor %}

<p> D :</p>
{% for c in D %}
    <img src='{% static "PNG/" %}{{c}}' height="200px" width="120px"/>
{% endfor %}

<p> E :</p>
{% for c in E %}
   <img src='{% static "PNG/" %}{{c}}' height="200px" width="120px"/>
{% endfor %}
    
{% endblock %}