<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
    <style>
        body{
            background-color: #008800;
        }
        .rcorners1 {
            border-radius: 25px;
            background: #73AD21;
            padding: 10px; 
            width: 550px;
            height: 120px; 
            border: 5px solid #73AD21;
        }
        img {
            border-radius: 8px;
            height: 100px;
            background: transparent no-repeat center;
            background-size: cover;
            padding: 20px; 
        }
        div.Right {
            border-radius: 25px;
            background: #73AD21;
            position: absolute;
            right: 0;
            width: 300px;
            height: 600px;
            border: 5px solid #73AD21;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!--<script src="jquery-3.5.1.js"></script>-->
    <script>
        window.onload = function(){
            var loc = window.location;
            var wsStart = 'ws://';
            if (loc.protocol == 'https:') {
                wsStart = 'wss://'
            }
            var endpoint = wsStart + loc.host + loc.pathname;
            console.log("endpoint is : " + endpoint)
            //var socket = new WebSocket("ws://127.0.0.1:8000/JorPatti_WebApp/");
            var socket = new WebSocket(endpoint);

            document.getElementById("start").disabled = true;
            document.getElementById("stop").disabled = false;
            

            socket.onmessage = function(e){
                console.log("message", e.data);
                var obj = JSON.parse(e.data)
                console.log("JSON obj :", obj);

                if(obj.Player1 != undefined)
                {
                    $("#PL01Div").css("background", "#80ff80");
                    $("#PL02Div").css("background", "#73AD21");
                    $("#PL03Div").css("background", "#73AD21");
                    $("#PL04Div").css("background", "#73AD21");
                    $("#PL05Div").css("background", "#73AD21");
                    $("#PL011").attr("src", "../../static/PNG/" + obj.Player1[0] + ".png");
                    $("#PL012").attr("src", "../../static/PNG/" + obj.Player1[1] + ".png");
                    $("#PL013").attr("src", "../../static/PNG/" + obj.Player1[2] + ".png");
                    $("#PL014").attr("src", "../../static/PNG/" + obj.Player1[3] + ".png");
                    $("#PL015").attr("src", "../../static/PNG/" + obj.Player1[4] + ".png");
                    
                    if(obj.Open_Card != undefined)
                    {
                        $("#OD011").attr("src", "../../static/PNG/" + obj.Open_Card[0] + ".png");
                    }

                    if(obj.Is_Winner)
                    {
                        $("#PL01Div").css("background", "#EAC117");
                    }

                    if(obj.Picked_Card != undefined)
                    {
                        $("#OD012").attr("src", "../../static/PNG/" + obj.Picked_Card[0] + ".png");
                    }

                    if(obj.Drop_Card != undefined)
                    {
                        $("#OD013").attr("src", "../../static/PNG/" + obj.Drop_Card[0] + ".png");
                    }
                }

                if(obj.Player2 != undefined)
                {
                    $("#PL01Div").css("background", "#73AD21");
                    $("#PL02Div").css("background", "#80ff80");
                    $("#PL03Div").css("background", "#73AD21");
                    $("#PL04Div").css("background", "#73AD21");
                    $("#PL05Div").css("background", "#73AD21");
                    $("#PL021").attr("src", "../../static/PNG/" + obj.Player2[0] + ".png");
                    $("#PL022").attr("src", "../../static/PNG/" + obj.Player2[1] + ".png");
                    $("#PL023").attr("src", "../../static/PNG/" + obj.Player2[2] + ".png");
                    $("#PL024").attr("src", "../../static/PNG/" + obj.Player2[3] + ".png");
                    $("#PL025").attr("src", "../../static/PNG/" + obj.Player2[4] + ".png");
                    
                    if(obj.Open_Card != undefined)
                    {
                        $("#OD011").attr("src", "../../static/PNG/" + obj.Open_Card[0] + ".png");
                    }

                    if(obj.Is_Winner)
                    {
                        $("#PL02Div").css("background", "#EAC117");
                    }

                    if(obj.Picked_Card != undefined)
                    {
                        $("#OD012").attr("src", "../../static/PNG/" + obj.Picked_Card[0] + ".png");
                    }

                    if(obj.Drop_Card != undefined)
                    {
                        $("#OD013").attr("src", "../../static/PNG/" + obj.Drop_Card[0] + ".png");
                    }
                }

                if(obj.Player3 != undefined)
                {
                    $("#PL01Div").css("background", "#73AD21");
                    $("#PL02Div").css("background", "#73AD21");
                    $("#PL03Div").css("background", "#80ff80");
                    $("#PL04Div").css("background", "#73AD21");
                    $("#PL05Div").css("background", "#73AD21");
                    $("#PL031").attr("src", "../../static/PNG/" + obj.Player3[0] + ".png");
                    $("#PL032").attr("src", "../../static/PNG/" + obj.Player3[1] + ".png");
                    $("#PL033").attr("src", "../../static/PNG/" + obj.Player3[2] + ".png");
                    $("#PL034").attr("src", "../../static/PNG/" + obj.Player3[3] + ".png");
                    $("#PL035").attr("src", "../../static/PNG/" + obj.Player3[4] + ".png");
                    
                    if(obj.Open_Card != undefined)
                    {
                        $("#OD011").attr("src", "../../static/PNG/" + obj.Open_Card[0] + ".png");
                    }

                    if(obj.Is_Winner)
                    {
                        $("#PL03Div").css("background", "#EAC117");
                    }

                    if(obj.Picked_Card != undefined)
                    {
                        $("#OD012").attr("src", "../../static/PNG/" + obj.Picked_Card[0] + ".png");
                    }

                    if(obj.Drop_Card != undefined)
                    {
                        $("#OD013").attr("src", "../../static/PNG/" + obj.Drop_Card[0] + ".png");
                    }
                }

                if(obj.Player4 != undefined)
                {
                    $("#PL01Div").css("background", "#73AD21");
                    $("#PL02Div").css("background", "#73AD21");
                    $("#PL03Div").css("background", "#73AD21");
                    $("#PL04Div").css("background", "#80ff80");
                    $("#PL05Div").css("background", "#73AD21");
                    $("#PL041").attr("src", "../../static/PNG/" + obj.Player4[0] + ".png");
                    $("#PL042").attr("src", "../../static/PNG/" + obj.Player4[1] + ".png");
                    $("#PL043").attr("src", "../../static/PNG/" + obj.Player4[2] + ".png");
                    $("#PL044").attr("src", "../../static/PNG/" + obj.Player4[3] + ".png");
                    $("#PL045").attr("src", "../../static/PNG/" + obj.Player4[4] + ".png");

                    if(obj.Open_Card != undefined)
                    {
                        $("#OD011").attr("src", "../../static/PNG/" + obj.Open_Card[0] + ".png");
                    }

                    if(obj.Is_Winner)
                    {
                        $("#PL04Div").css("background", "#EAC117");
                    }

                    if(obj.Picked_Card != undefined)
                    {
                        $("#OD012").attr("src", "../../static/PNG/" + obj.Picked_Card[0] + ".png");
                    }

                    if(obj.Drop_Card != undefined)
                    {
                        $("#OD013").attr("src", "../../static/PNG/" + obj.Drop_Card[0] + ".png");
                    }
                }

                if(obj.Player5 != undefined)
                {
                    $("#PL01Div").css("background", "#73AD21");
                    $("#PL02Div").css("background", "#73AD21");
                    $("#PL03Div").css("background", "#73AD21");
                    $("#PL04Div").css("background", "#73AD21");
                    $("#PL05Div").css("background", "#80ff80");
                    $("#PL051").attr("src", "../../static/PNG/" + obj.Player5[0] + ".png");
                    $("#PL052").attr("src", "../../static/PNG/" + obj.Player5[1] + ".png");
                    $("#PL053").attr("src", "../../static/PNG/" + obj.Player5[2] + ".png");
                    $("#PL054").attr("src", "../../static/PNG/" + obj.Player5[3] + ".png");
                    $("#PL055").attr("src", "../../static/PNG/" + obj.Player5[4] + ".png");

                    if(obj.Open_Card != undefined)
                    {
                        $("#OD011").attr("src", "../../static/PNG/" + obj.Open_Card[0] + ".png");
                    }
                    
                    if(obj.Is_Winner)
                    {
                        $("#PL05Div").css("background", "#EAC117");
                    }

                    if(obj.Picked_Card != undefined)
                    {
                        $("#OD012").attr("src", "../../static/PNG/" + obj.Picked_Card[0] + ".png");
                    }

                    if(obj.Drop_Card != undefined)
                    {
                        $("#OD013").attr("src", "../../static/PNG/" + obj.Drop_Card[0] + ".png");
                    }
                }
                //document.querySelector('#log').value += (e.data + '\n');
            };
            socket.onopen = function(e){
                console.log("open", e);
            };
            socket.onerror = function(e){
                console.log("error", e)
            };
            socket.onclose = function(e){
                console.log("close", e)
            };

            

            /*document.querySelector('#start').onclick = function(e) {
                var socket = new WebSocket(endpoint);
                document.getElementById('start').disabled = true;
                document.getElementById('stop').disabled = false;

                socket.onmessage = function(e){
                console.log("message hai re baba", e.data);
                $("#PL011").attr("src", "../../static/PNG/" + e.data + ".png");
                //document.querySelector('#log').value += (e.data + '\n');
            };

                socket.onopen = function(e){
                    console.log("open", e);
                };
                socket.onerror = function(e){
                    console.log("error", e)
                };
                socket.onclose = function(e){
                    console.log("close", e)
                };
            }*/


            document.querySelector('#stop').onclick = function(e) {
                socket.close();
                document.getElementById('stop').disabled = true;
                document.getElementById('start').disabled = false;
            }
        }
    </script>
</head>

<body class="playingCards">
    
    <!--<textarea id="log" cols="100" rows="20"></textarea><br>
    <input id="message-input" type="text" size="100"><br>-->
    <div>
        <input id="start" type="button" value="Start Server">
        <input id="stop" type="button" value="Stop Server">
    </div>
    <br>
    <div>
        <div class='Right'>
            <table>
                <tr>
                    <td>
                        <div>
                            Picked Card :
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="OD012" src="../../static/PNG/gray_back.png" alt="My image"/>
                            
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            Dropped Card :
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="OD013" src="../../static/PNG/gray_back.png" alt="My image"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            Open Card :
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="OD011" src="../../static/PNG/gray_back.png" alt="My image"/>
                        </div>
                    </td>
                </tr>
            </table>    
        </div>

        <div class="rcorners1" id="PL01Div">
            <table>
                <tr>
                    <td>
                        <div>
                            <img id="PL011" src="../../static/PNG/2C.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL012" src="../../static/PNG/2H.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL013" src="../../static/PNG/AC.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL014" src="../../static/PNG/5S.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL015" src="../../static/PNG/9C.png" alt="My image"/>
                        </div>
                    </td>
                </tr>
            </table>  
        </div>
        <br>
        <div class="rcorners1" id="PL02Div">
            <table>
                <tr>
                    <td>
                        <div>
                            <img id="PL021" src="../../static/PNG/2C.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL022" src="../../static/PNG/2H.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL023" src="../../static/PNG/AC.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL024" src="../../static/PNG/5S.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL025" src="../../static/PNG/9C.png" alt="My image"/>
                        </div>
                    </td>
                </tr>
            </table>  
        </div>
        <br>
        <div class="rcorners1" id="PL03Div">
            <table>
                <tr>
                    <td>
                        <div>
                            <img id="PL031" src="../../static/PNG/2C.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL032" src="../../static/PNG/2H.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL033" src="../../static/PNG/AC.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL034" src="../../static/PNG/5S.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL035" src="../../static/PNG/9C.png" alt="My image"/>
                        </div>
                    </td>
                </tr>
            </table>  
        </div>
        <br>
        <div class="rcorners1" id="PL04Div">
            <table>
                <tr>
                    <td>
                        <div>
                            <img id="PL041" src="../../static/PNG/2C.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL042" src="../../static/PNG/2H.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL043" src="../../static/PNG/AC.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL044" src="../../static/PNG/5S.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL045" src="../../static/PNG/9C.png" alt="My image"/>
                        </div>
                    </td>
                </tr>
            </table>  
        </div>
        <br>
        <div class="rcorners1" id="PL05Div">
            <table>
                <tr>
                    <td>
                        <div>
                            <img id="PL051" src="../../static/PNG/2C.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL052" src="../../static/PNG/2H.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL053" src="../../static/PNG/AC.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL054" src="../../static/PNG/5S.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL055" src="../../static/PNG/9C.png" alt="My image"/>
                        </div>
                    </td>
                </tr>
            </table>  
        </div>
        <br>
        
    </div>
    
</body>
</html>