<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
    <style>
        body{
            background-color: #008800;
        }
        .rcorners1 {
            border-radius: 25px;
            background: #73AD21;
            padding: 10px; 
            width: 550px;
            height: 120px; 
            border: 5px solid #73AD21;
        }
        img {
            border-radius: 8px;
            height: 100px;
            background: transparent no-repeat center;
            background-size: cover;
            padding: 20px; 
        }
        div.Right {
            border-radius: 25px;
            background: #73AD21;
            position: absolute;
            right: 0;
            width: 300px;
            height: 600px;
            border: 5px solid #73AD21;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!--<script src="jquery-3.5.1.js"></script>-->
    <script>
        window.onload = function(){
            var loc = window.location;
            var wsStart = 'ws://';
            if (loc.protocol == 'https:') {
                wsStart = 'wss://'
            }
            var endpoint = wsStart + loc.host + loc.pathname;
            console.log("endpoint is : " + endpoint)
            //var socket = new WebSocket("ws://127.0.0.1:8000/JorPatti_WebApp/");
            var socket = new WebSocket(endpoint);

            document.getElementById("start").disabled = true;
            document.getElementById("stop").disabled = false;
            document.getElementById("sp01").innerHTML = " -- ";
            document.getElementById("sp02").innerHTML = " -- ";
            document.getElementById("sp03").innerHTML = " -- ";
            document.getElementById("sp04").innerHTML = " -- ";

            $("#PL011").attr("src", "../../static/PNG/gray_back.png");
            $("#PL012").attr("src", "../../static/PNG/gray_back.png");
            $("#PL013").attr("src", "../../static/PNG/gray_back.png");
            $("#PL014").attr("src", "../../static/PNG/gray_back.png");
            $("#PL015").attr("src", "../../static/PNG/gray_back.png");

            $("#PL021").attr("src", "../../static/PNG/gray_back.png");
            $("#PL022").attr("src", "../../static/PNG/gray_back.png");
            $("#PL023").attr("src", "../../static/PNG/gray_back.png");
            $("#PL024").attr("src", "../../static/PNG/gray_back.png");
            $("#PL025").attr("src", "../../static/PNG/gray_back.png");

            $("#PL031").attr("src", "../../static/PNG/gray_back.png");
            $("#PL032").attr("src", "../../static/PNG/gray_back.png");
            $("#PL033").attr("src", "../../static/PNG/gray_back.png");
            $("#PL034").attr("src", "../../static/PNG/gray_back.png");
            $("#PL035").attr("src", "../../static/PNG/gray_back.png");

            $("#PL041").attr("src", "../../static/PNG/gray_back.png");
            $("#PL042").attr("src", "../../static/PNG/gray_back.png");
            $("#PL043").attr("src", "../../static/PNG/gray_back.png");
            $("#PL044").attr("src", "../../static/PNG/gray_back.png");
            $("#PL045").attr("src", "../../static/PNG/gray_back.png");

            $("#PL051").attr("src", "../../static/PNG/gray_back.png");
            $("#PL052").attr("src", "../../static/PNG/gray_back.png");
            $("#PL053").attr("src", "../../static/PNG/gray_back.png");
            $("#PL054").attr("src", "../../static/PNG/gray_back.png");
            $("#PL055").attr("src", "../../static/PNG/gray_back.png");
            

            socket.onmessage = function(e){
                console.log("message", e.data);
                var obj = JSON.parse(e.data)
                console.log("JSON obj :", obj);
                
                document.querySelector('#log').value += (obj.Log + '\n');
                if(obj.Open_Card != undefined)
                {
                    $("#OD011").attr("src", "../../static/PNG/" + obj.Open_Card[0] + ".png");
                }
                
                if(obj.Picked_Card != undefined)
                {
                    $("#OD012").attr("src", "../../static/PNG/" + obj.Picked_Card[0] + ".png");
                }

                if(obj.Drop_Card != undefined)
                {
                    $("#OD013").attr("src", "../../static/PNG/" + obj.Drop_Card[0] + ".png");
                }
                
                if(obj.No_of_Rounds != undefined)
                {
                    document.getElementById("sp01").innerHTML = obj.No_of_Rounds ;
                }

                if(obj.Cards_In_Middle != undefined)
                {
                    document.getElementById("sp02").innerHTML = obj.Cards_In_Middle ;
                }

                if(obj.Cards_In_Open != undefined)
                {
                    document.getElementById("sp03").innerHTML = obj.Cards_In_Open ;
                }
                
                if(obj.Middle_Deck_Finish_Count != undefined)
                {
                    document.getElementById("sp04").innerHTML = obj.Middle_Deck_Finish_Count ;
                }


                if(obj.Player == 'A' && obj.Player_Card != undefined)
                {
                    $("#PL01Div").css("background", "#80ff80");
                    $("#PL02Div").css("background", "#73AD21");
                    $("#PL03Div").css("background", "#73AD21");
                    $("#PL04Div").css("background", "#73AD21");
                    $("#PL05Div").css("background", "#73AD21");
                    $("#PL011").attr("src", "../../static/PNG/" + obj.Player_Card[0] + ".png");
                    $("#PL012").attr("src", "../../static/PNG/" + obj.Player_Card[1] + ".png");
                    $("#PL013").attr("src", "../../static/PNG/" + obj.Player_Card[2] + ".png");
                    $("#PL014").attr("src", "../../static/PNG/" + obj.Player_Card[3] + ".png");
                    $("#PL015").attr("src", "../../static/PNG/" + obj.Player_Card[4] + ".png");
                    
                    if(obj.Is_Winner)
                    {
                        $("#PL01Div").css("background", "#EAC117");
                    } 
                }


                if(obj.Player == 'B' && obj.Player_Card != undefined)
                {
                    $("#PL01Div").css("background", "#73AD21");
                    $("#PL02Div").css("background", "#80ff80");
                    $("#PL03Div").css("background", "#73AD21");
                    $("#PL04Div").css("background", "#73AD21");
                    $("#PL05Div").css("background", "#73AD21");
                    $("#PL021").attr("src", "../../static/PNG/" + obj.Player_Card[0] + ".png");
                    $("#PL022").attr("src", "../../static/PNG/" + obj.Player_Card[1] + ".png");
                    $("#PL023").attr("src", "../../static/PNG/" + obj.Player_Card[2] + ".png");
                    $("#PL024").attr("src", "../../static/PNG/" + obj.Player_Card[3] + ".png");
                    $("#PL025").attr("src", "../../static/PNG/" + obj.Player_Card[4] + ".png");
                    
                    

                    if(obj.Is_Winner)
                    {
                        $("#PL02Div").css("background", "#EAC117");
                    }
                    
                }


                if(obj.Player == 'C' && obj.Player_Card != undefined)
                {
                    $("#PL01Div").css("background", "#73AD21");
                    $("#PL02Div").css("background", "#73AD21");
                    $("#PL03Div").css("background", "#80ff80");
                    $("#PL04Div").css("background", "#73AD21");
                    $("#PL05Div").css("background", "#73AD21");
                    $("#PL031").attr("src", "../../static/PNG/" + obj.Player_Card[0] + ".png");
                    $("#PL032").attr("src", "../../static/PNG/" + obj.Player_Card[1] + ".png");
                    $("#PL033").attr("src", "../../static/PNG/" + obj.Player_Card[2] + ".png");
                    $("#PL034").attr("src", "../../static/PNG/" + obj.Player_Card[3] + ".png");
                    $("#PL035").attr("src", "../../static/PNG/" + obj.Player_Card[4] + ".png");
                    

                    if(obj.Is_Winner)
                    {
                        $("#PL03Div").css("background", "#EAC117");
                    }
                }

                if(obj.Player == 'D' && obj.Player_Card != undefined)
                {
                    $("#PL01Div").css("background", "#73AD21");
                    $("#PL02Div").css("background", "#73AD21");
                    $("#PL03Div").css("background", "#73AD21");
                    $("#PL04Div").css("background", "#80ff80");
                    $("#PL05Div").css("background", "#73AD21");
                    $("#PL041").attr("src", "../../static/PNG/" + obj.Player_Card[0] + ".png");
                    $("#PL042").attr("src", "../../static/PNG/" + obj.Player_Card[1] + ".png");
                    $("#PL043").attr("src", "../../static/PNG/" + obj.Player_Card[2] + ".png");
                    $("#PL044").attr("src", "../../static/PNG/" + obj.Player_Card[3] + ".png");
                    $("#PL045").attr("src", "../../static/PNG/" + obj.Player_Card[4] + ".png");

                    if(obj.Is_Winner)
                    {
                        $("#PL04Div").css("background", "#EAC117");
                    }
                }


                if(obj.Player == 'E' && obj.Player_Card != undefined)
                {
                    $("#PL01Div").css("background", "#73AD21");
                    $("#PL02Div").css("background", "#73AD21");
                    $("#PL03Div").css("background", "#73AD21");
                    $("#PL04Div").css("background", "#73AD21");
                    $("#PL05Div").css("background", "#80ff80");
                    $("#PL051").attr("src", "../../static/PNG/" + obj.Player_Card[0] + ".png");
                    $("#PL052").attr("src", "../../static/PNG/" + obj.Player_Card[1] + ".png");
                    $("#PL053").attr("src", "../../static/PNG/" + obj.Player_Card[2] + ".png");
                    $("#PL054").attr("src", "../../static/PNG/" + obj.Player_Card[3] + ".png");
                    $("#PL055").attr("src", "../../static/PNG/" + obj.Player_Card[4] + ".png");


                    if(obj.Is_Winner)
                    {
                        $("#PL05Div").css("background", "#EAC117");
                    }

                }
            };
            
            socket.onopen = function(e){
                console.log("open", e);
            };
            socket.onerror = function(e){
                console.log("error", e)
            };
            socket.onclose = function(e){
                console.log("close", e)
            };

            

            /*document.querySelector('#start').onclick = function(e) {
                var socket = new WebSocket(endpoint);
                document.getElementById('start').disabled = true;
                document.getElementById('stop').disabled = false;

                socket.onmessage = function(e){
                console.log("message hai re baba", e.data);
                $("#PL011").attr("src", "../../static/PNG/" + e.data + ".png");
                //document.querySelector('#log').value += (e.data + '\n');
            };

                socket.onopen = function(e){
                    console.log("open", e);
                };
                socket.onerror = function(e){
                    console.log("error", e)
                };
                socket.onclose = function(e){
                    console.log("close", e)
                };
            }*/


            document.querySelector('#stop').onclick = function(e) {
                socket.close();
                document.getElementById('stop').disabled = true;
                document.getElementById('start').disabled = false;
            }
        }
    </script>
</head>

<body class="playingCards">
    
    <!--<textarea id="log" cols="100" rows="20"></textarea><br>
    <input id="message-input" type="text" size="100"><br>-->
    <div>
        <input id="start" type="button" value="Start Server">
        <input id="stop" type="button" value="Stop Server">
    </div>
    <br>
    <div>
        <div class='Right'>
            <table>
                <tr>
                    <td>
                        <div>Picked Card :
                            <img id="OD012" src="../../static/PNG/gray_back.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>Dropped Card :
                            <img id="OD013" src="../../static/PNG/gray_back.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>Open Card :
                            <img id="OD011" src="../../static/PNG/gray_back.png" alt="My image"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            Number of Rounds :
                            <span id="sp01" style="color: teal;"></span>
                        </div>
                        <div>
                            Cards in Middle Deck :
                            <span id="sp02" style="color: teal;"></span>
                        </div>
                        <div>
                            Cards in Open Deck :
                            <span id="sp03" style="color: teal;"></span>
                        </div>
                        <div>
                            Middle Deck Finish Count :
                            <span id="sp04" style="color: teal;"></span>
                        </div>
                    </td>
                </tr>
            </table>   
            <div>
                Logs :
                <textarea id="log" cols="60" rows="20"></textarea>
            </div> 
        </div>

        <div class="rcorners1" id="PL01Div">
            <table>
                <tr>
                    <td>
                        <div>
                            <img id="PL011" src="../../static/PNG/2C.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL012" src="../../static/PNG/2H.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL013" src="../../static/PNG/AC.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL014" src="../../static/PNG/5S.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL015" src="../../static/PNG/9C.png" alt="My image"/>
                        </div>
                    </td>
                </tr>
            </table>  
        </div>
        <br>
        <div class="rcorners1" id="PL02Div">
            <table>
                <tr>
                    <td>
                        <div>
                            <img id="PL021" src="../../static/PNG/2C.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL022" src="../../static/PNG/2H.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL023" src="../../static/PNG/AC.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL024" src="../../static/PNG/5S.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL025" src="../../static/PNG/9C.png" alt="My image"/>
                        </div>
                    </td>
                </tr>
            </table>  
        </div>
        <br>
        <div class="rcorners1" id="PL03Div">
            <table>
                <tr>
                    <td>
                        <div>
                            <img id="PL031" src="../../static/PNG/2C.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL032" src="../../static/PNG/2H.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL033" src="../../static/PNG/AC.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL034" src="../../static/PNG/5S.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL035" src="../../static/PNG/9C.png" alt="My image"/>
                        </div>
                    </td>
                </tr>
            </table>  
        </div>
        <br>
        <div class="rcorners1" id="PL04Div">
            <table>
                <tr>
                    <td>
                        <div>
                            <img id="PL041" src="../../static/PNG/2C.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL042" src="../../static/PNG/2H.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL043" src="../../static/PNG/AC.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL044" src="../../static/PNG/5S.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL045" src="../../static/PNG/9C.png" alt="My image"/>
                        </div>
                    </td>
                </tr>
            </table>  
        </div>
        <br>
        <div class="rcorners1" id="PL05Div">
            <table>
                <tr>
                    <td>
                        <div>
                            <img id="PL051" src="../../static/PNG/2C.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL052" src="../../static/PNG/2H.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL053" src="../../static/PNG/AC.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL054" src="../../static/PNG/5S.png" alt="My image"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img id="PL055" src="../../static/PNG/9C.png" alt="My image"/>
                        </div>
                    </td>
                </tr>
            </table>  
        </div>
        <br>
        
    </div>
    
</body>
</html>